<h1 class="text-success text-center">Live Angular Diretivas</h1>

<!--Diretivas de Atributos-->


<div [ngStyle]="{background: count < 5 ? 'red' : 'green'}" [ngClass]="{custom: count > 5}">
    <h2 class="text-center">Contador: {{count}} </h2>
</div>


<!--Diretivas Estruturais-->

<h2 *ngIf="count > 6; else menor">O contador passa de 7! =)</h2>

<ng-template #menor>
    <h2>O menor é contador é menor que 7</h2>
</ng-template>

<ul [ngSwitch]="count" class="list-group mx-auto col-3">
    <li class="list-group-item"
    *ngSwitchCase="3"
    >
    É igual a 3 
</li>
<li class="list-group-item"
*ngSwitchCase="5"
>
É igual a 5 
</li>
<li class="list-group-item"
*ngSwitchCase="7"
>
É igual a 7 
</li>
<li class="list-group-item"
*ngSwitchCase="9"
>
É igual a 9 
</li>
<li class="list-group-item"
*ngSwitchCase="10"
>
É igual a 10 
</li>
<li class="list-group-item"
*ngSwitchDefault
>
É o Swicth Default
</li>
   
</ul>

<ul class="list-group mx-auto col-3 my-3">
    <li 
        class="list-group-item"
        *ngFor="let pessoa of pessoas"
    >
         o nome da pessoa é  {{pessoa.nome}} {{pessoa.sobrenome}} e a sua profissão é {{pessoa.profissao}}
    </li>
</ul>


<!--ngFor por debaixo dos panos-->

<ul class="list-group mx-auto col-3 my-3">
    <ng-template ngFor let-pessoa [ngForOf]="pessoas">
        <li class="list-group-item">
            O nome da pessoa é  {{pessoa.nome}} {{pessoa.sobrenome}} e a sua profissão é {{pessoa.profissao}}
        </li>
    </ng-template>

</ul>

<h3 spaMarcaTexto corDeFundo='blue' corDoTexto='white'>{{nome}}</h3>

<button class="btn btn-success" (click)="clicou('victor')"> Clique </button>


<div class="col-4 mx-auto">
    <input 
    type="text" class="form-control"
    placeholder="Digite alguma coisa..."
    [(ngModel)]="text"
    >
    <h4>Saída: {{ text }}</h4>
</div>
